@media (max-width:900px) {
    p {
        font-size: 0.7rem;
    }

    #resume h3,
    #resume i {
        font-size: 0.8rem;
    }

    .profile h2 {
        font-size: 3.4vw;
    }

    .project-showcase {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
}

@media (max-width:700px) {
    .nav-socials i {
        font-size: 3vw;
    }

    .nav-socials a {
        width: 6vw;
        height: 6vw;
    }

    .project-heading {
        margin-bottom: 8vh;
    }

}

@media (max-width:600px) {
    p {
        font-size: 0.9rem;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
    }

    .profile {
        width: 100%;
        height: 100%;
        margin-top: 8vh;
    }

    .profile-img {
        width: 35%;
        height: fit-content;
        position: absolute;
        right: 5%;
        top: 15%;
    }

    .profile p {
        margin-top: 8vh;
    }

    .profile h2 {
        border-radius: 1vw;
    }

    .nav-tabs {
        font-size: 2.5vw;
    }

    .profile h1 {
        width: 70%;
    }

    .profile h1 {
        margin-top: 13vh;
        font-size: 6vw;
    }

    .profile h2 {
        margin-top: 8vh;
    }

    .project-heading {
        margin-bottom: 8vh;
    }

    .skills-description p {
        font-size: 0.7rem;
    }

    .project-heading p {
        font-size: 0.7rem;
    }

}

@media (max-width: 500px) {
    p {
        font-size: 0.6rem;
    }

    .profile h1 {
        margin-top: 5vh;
    }

    .profile h2 {
        font-size: 3vh;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        white-space: nowrap;
        margin: 2vh 0 auto;
    }

    .profile-img {
        visibility: visible;
        width: 70%;
        right: 5%;
        top: 15%;
    }

    .profile p {
        margin-top: 2vh;
        font-size: 0.6rem;
    }

    .crossanimation {
        display: block;
    }

    .project-showcase {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 3vw;
    }

    .project-heading {
        margin-bottom: 8vh;
    }

    .nav-tabs>a {
        display: none;
    }

    .active {
        display: flex;
        width: 90vw;
        visibility: visible;
        padding: 2vh 10vw;
        transition: all 0.5s ease-in-out;
    }

    .skills-description p {
        font-size: 0.5rem;
    }

    .project-heading p {
        font-size: 0.5rem;
    }
}