@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: #151515;
}

#mainbody {
    min-height: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
    position: fixed;
    bottom: 5%;
    right: 3%;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    z-index: 999;
    min-width: 3rem;
    min-height: 3rem;
    animation: updownsoc 3s ease-in-out infinite;
}


.contact a i {
    animation: color-animation 5s infinite;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1rem;
}

.contact::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    scale: 0;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
}

.contact:hover:before {
    scale: 1;
    z-index: -1;
}

@keyframes background-color-animation {
    0% {
        background-color: rgb(160, 140, 212);
        background-color: rgb(160, 140, 212);
    }

    20% {
        background-color: rgb(114, 94, 163);
        background-color: rgb(114, 94, 163);
    }

    40% {
        background-color: rgb(83, 67, 113);
        background-color: rgb(83, 67, 113);
    }

    60% {
        background-color: rgb(139, 107, 180);
        background-color: rgb(139, 107, 180);
    }

    80% {
        background-color: rgb(160, 140, 212);
        background-color: rgb(160, 140, 212);
    }

    100% {
        background-color: rgb(182, 146, 227);
        background-color: rgb(182, 146, 227);
    }
}

@keyframes border-color-animation {
    0% {
        border-color: rgb(215, 192, 217);
        border-color: rgb(215, 192, 217);
    }

    25% {
        border-color: rgb(230, 171, 244);
        border-color: rgb(230, 171, 244);
    }

    50% {
        border-color: rgb(205, 140, 235);
        border-color: rgb(205, 140, 235);
    }

    75% {
        border-color: rgb(110, 82, 171);
        border-color: rgb(110, 82, 171);
    }

    100% {
        border-color: rgb(218, 160, 247);
        border-color: rgb(218, 160, 247);
    }
}

@keyframes color-animation {
    0% {
        color: rgb(215, 192, 217);
        color: rgb(215, 192, 217);
    }

    25% {
        color: rgb(230, 171, 244);
        color: rgb(230, 171, 244);
    }

    50% {
        color: rgb(205, 140, 235);
        color: rgb(205, 140, 235);
    }

    75% {
        color: rgb(110, 82, 171);
        color: rgb(110, 82, 171);
    }

    100% {
        color: rgb(218, 160, 247);
        color: rgb(218, 160, 247);
    }
}

.page1-container {
    min-height: 100vh;
    background-image: url(assets/banner-bg.png);
    background-position: top center;
    position: relative;
}

.nav-container {
    padding-inline: 3vw;
    padding-block: 1.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    border-radius: 2vw;
    backdrop-filter: blur(5px);
}

.nav-tabs,
.nav-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.nav-tabs-spans {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    left: 0%;
    height: fit-content;
    width: 0px;
    margin: 0 auto;
    background: url(assets/footer-bg.png);
    object-fit: cover;
    z-index: 2;
    justify-content: space-between;
    border-radius: 4vw;
    padding: 2vh 0;
    visibility: hidden;

}

@keyframes updownsoc {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

.nav-tabs a {
    animation: color-animation 5s infinite;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}

.nav-tabs a:hover {
    font-weight: 800;
}

.nav-tabs a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -10;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    animation: background-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-tabs a:hover::after {
    width: 100%;
    left: 0;
    background-color: #ffffff;
}

.nav-socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    animation: updownsoc 3s ease-in-out infinite;
}

.nav-socials a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    animation: background-color-animation 5s infinite;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.nav-socials a:hover:before {
    transform: scale(1);
}

.nav-socials a:hover #discord {
    color: #5865f2;
    z-index: 2;

}

.nav-socials a:hover #linkedIn {
    color: #2a67bc;
    z-index: 2;

}

.nav-socials a:hover #gitHub {
    color: #000000;
    z-index: 2;

}

.nav-socials a:hover #twitter {
    color: #000000;
    z-index: 2;

}

.nav-socials i {
    font-size: 1.5rem;
    background-color: transparent;
}

#discord {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

#linkedIn {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

#gitHub {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

#twitter {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

.profile-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 5vw 5vw;
    background: transparent;
}

.crossanimation {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1px;
    z-index: 10;
}

.crossanimation::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    animation: background-color-animation 5s infinite;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    top: 1%;
    left: 1%;
}

.crossanimation:hover:before {
    transform: scale(1);
}

.crossanimation:hover #span1,
.crossanimation:hover #span2,
.crossanimation:hover #span3 {
    background-color: #000000;
    z-index: 2;

}

.crossanimation span {
    position: absolute;
    width: 70%;
    height: 0.1vw;
    background-color: #ffffff;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s, width 0.5s ease-in-out;
}

#span1 {
    transform: translate(-50%, -1vw);
}

#span3 {
    transform: translate(-50%, 1vw);
}

.cross-animation #span1 {
    transform: translate(-50%) rotate(-45deg);
}

.cross-animation #span3 {
    transform: translate(-50%) rotate(45deg);
}

.cross-animation #span2 {
    width: 0%;
}

#mode {
    cursor: pointer;
}

.profile-img,
.profile {
    width: 50%;
}

.profile-img img {
    width: 100%;
    margin-top: 8vw;
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.profile {
    color: rgb(255, 255, 255);
    padding: 0px 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.2s ease 0s;
}

#name,
#profileSkill {
    overflow: hidden;
}

.profile h1 {
    font-size: 4.1vw;
    text-transform: capitalize;
    animation: 5s ease 0s infinite normal none running color-animation;
}

.profile h2 {
    position: relative;
    display: inline-block;
    font-size: 3.4vw;
    margin-block: 2%;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    padding: 1% 2%;
    border-radius: 1vw;
    text-transform: capitalize;
    animation: 5s ease-in-out 0s infinite normal none running updownsoc;
}

.profile p {
    font-size: 0.9rem;
    color: rgb(184, 184, 184);
}

#resume {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    padding: 1% 2%;
    border-radius: 5px;
    margin: 3vw 0;
    overflow: hidden;
}

#resume h3,
#resume i {
    font-size: 1.5vw;
}

.skills-section {
    padding: 5vw 5vw;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}

.skills-description h1 {
    width: 70%;
    text-transform: capitalize;
    animation: color-animation 5s infinite;
    font-size: 9.6vw;
}

.skills-heading {
    position: relative;
    gap: 5vw;
}

.skills-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skills-img {
    width: 30%;
}

.skills-img img {
    width: 100%;
    animation: updown 3s linear infinite;
}

.skills-heading p {
    font-size: 0.9rem;
    text-align: center;
    color: #ffffff;
}

.skills {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
}

.skill-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 72%;
    gap: 3vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

.skill-container::-webkit-scrollbar {
    display: none;
}

.all-skills button {
    width: fit-content;
    height: fit-content;
    border-radius: 20%;
    border: none;
}

#btn1 {
    background: #e91e63;
}

#btn2 {
    background: #673ab7;
}

.all-skills button i {
    font-size: 3vw;
    color: #ffffff;
}

.all-skills {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
    background-color: #151515;
    max-width: 63%;
    margin: 8vw auto;
    padding: 2vw;
    border-radius: 2vw;
}

.skill-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.outer,
.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.outer {
    width: 10vw;
    height: 10vw;
}

.inner {
    width: 9vw;
    height: 9vw;
}

#number {
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 0.99vw;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}

.skill-list>svg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: fit-content;
    overflow: hidden;
}

.project-container {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #151515;
    position: relative;
    padding: 5vw 5vw;
}

.project-heading {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.project-heading h1 {
    text-transform: capitalize;
    animation: color-animation 5s infinite;
    font-size: 9.6vw;
    width: 70%;
}

.proj-head p {
    margin-block: 3vw;
    color: #b8b8b8;
    text-align: center;
    font-size: 0.9rem;
}

.projects {
    width: 100%;
    height: 36vh;
    border: 5px solid white;
    animation: border-color-animation 10s infinite ease-out;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow:
        1px 2px 30px rgba(170, 54, 124, 0.363),
        1px 2px 30px rgba(74, 47, 189, 0.363),
        1px 2px 30px rgba(170, 54, 124, 0.363),
        1px 2px 30px rgba(74, 47, 189, 0.363);
}

#proj1 {
    background: url(assets/weather-forecaste.jpg);
    background-size: cover;
    background-position: top center;
}

#proj2 {
    background: url(assets/password-generator.jpg);
    background-size: cover;
    background-position: center center;
}

#proj3 {
    background: url(assets/image-generator.jpg);
    background-size: cover;
    background-position: center center;
}

#proj4 {
    background: url(assets/tic-tac-toe.jpg);
    background-size: cover;
    background-position: center center;
}

#proj5 {
    background: url(assets/music\ player.jpg);
    background-size: cover;
    background-position: center center;
}

#proj1::after {
    content: "Project \A Weather App";
}

#proj2::after {
    content: "Project \A Password Generator";
}

#proj3::after {
    content: "Project \A Image Generator";
}

#proj4::after {
    content: "Project \A Tic Tac Toe Game";
}

#proj5::after {
    content: "Project \A Music Player";
}

.projects::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    transition: 0.6s ease-in;
}

.projects::after {
    white-space: pre;
    font-size: 200%;
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    bottom: 20%;
    z-index: 1;
    transition: 0.6s ease-in-out;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.projects:hover::after {
    height: 50%;
    opacity: 0.8;
}

.projects:hover::before {
    visibility: visible;
    filter: blur(30px);
}

.project-showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 3vw;
    padding-block: 5vw;
}

.projects i {
    font-size: 25px;
    animation: color-animation 2s infinite;
    background-color: transparent;
}

.projects a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-decoration: none;
}

.projects #weblink {
    bottom: 5%;
    right: 5%;
}

.projects #repo {
    bottom: 5%;
    left: 5%;
}

.project-heading .img {
    width: 30%;
}

.proj-head .img img {
    width: 100%;
    animation: updown 3s linear infinite;
    ;
}