@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

@keyframes background-color-animation {
    0% {
        background-color: rgb(160, 140, 212);
        background-color: rgb(160, 140, 212);
    }

    20% {
        background-color: rgb(114, 94, 163);
        background-color: rgb(114, 94, 163);
    }

    40% {
        background-color: rgb(83, 67, 113);
        background-color: rgb(83, 67, 113);
    }

    60% {
        background-color: rgb(139, 107, 180);
        background-color: rgb(139, 107, 180);
    }

    80% {
        background-color: rgb(160, 140, 212);
        background-color: rgb(160, 140, 212);
    }

    100% {
        background-color: rgb(182, 146, 227);
        background-color: rgb(182, 146, 227);
    }
}

@keyframes border-color-animation {
    0% {
        border-color: rgb(176, 166, 200);
        border-color: rgb(160, 140, 212);
    }

    20% {
        border-color: rgb(114, 94, 163);
        border-color: rgb(114, 94, 163);
    }

    40% {
        border-color: rgb(83, 67, 113);
        background-color: rgb(83, 67, 113);
    }

    60% {
        border-color: rgb(139, 107, 180);
        border-color: rgb(139, 107, 180);
    }

    80% {
        border-color: rgb(160, 140, 212);
        border-color: rgb(160, 140, 212);
    }

    100% {
        border-color: rgb(182, 146, 227);
        border-color: rgb(182, 146, 227);
    }
}

@keyframes color-animation {
    0% {
        color: rgb(215, 192, 217);
        color: rgb(215, 192, 217);
    }

    25% {
        color: rgb(230, 171, 244);
        color: rgb(230, 171, 244);
    }

    50% {
        color: rgb(205, 140, 235);
        color: rgb(205, 140, 235);
    }

    75% {
        color: rgb(110, 82, 171);
        color: rgb(110, 82, 171);
    }

    100% {
        color: rgb(218, 160, 247);
        color: rgb(218, 160, 247);
    }
}

.page1-container {
    min-height: 100vh;
    background-image: url(assets/banner-bg.png);
    background-position: top center;
    position: relative;
}

.nav-container {
    padding: 2rem 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    z-index: 999;
}

.nav-tabs,
.nav-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@keyframes updownsoc {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

.nav-tabs span {
    animation: color-animation 5s infinite;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}

.nav-tabs span:hover {
    font-weight: 800;
}

.nav-tabs span::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -10;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    animation: background-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-tabs span:hover::after {
    width: 100%;
    left: 0;
    background-color: #ffffff;
}

.nav-socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    animation: updownsoc 3s ease-in-out infinite;
}

.nav-socials a::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    animation: background-color-animation 5s infinite;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.nav-socials a:hover:before {
    transform: scale(1);
}

.nav-socials a:hover #discord {
    color: #5865f2;
    z-index: 2;

}

.nav-socials a:hover #linkedIn {
    color: #2a67bc;
    z-index: 2;

}

.nav-socials a:hover #gitHub {
    color: #000000;
    z-index: 2;

}

.nav-socials a:hover #twitter {
    color: #000000;
    z-index: 2;

}

.nav-socials i {
    font-size: 1.5rem;
    background-color: transparent;
}

/* #mail {
    color: red;
} */

#discord {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

#linkedIn {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

#gitHub {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

#twitter {
    color: #ffffff;
    border-radius: 5px;
    padding: 1px;
}

.profile-container {
    width: 100%;
    height: 87vh;
    display: flex;
    gap: 10vw;
    padding: 0 5vw;
    background: transparent;
    /* margin-top: 3rem; */
}

#mode {
    cursor: pointer;
}

.profile-img,
.profile {
    width: 50%;
    height: 100%;
    margin-top: 8rem;
}

.profile-img {
    margin-top: 10rem;
}

.profile-img img {
    margin-top: 5vh;
    width: 100%;
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.profile {
    color: #ffffff;
    padding: 0 2%;
    transition: all ease 0.2s;
}

#name,
#profileSkill {
    overflow: hidden;
}

.profile h1 {
    margin-top: 15vh;
    font-size: 3.5vw;
    text-transform: capitalize;
    animation: color-animation 5s infinite;
}

.profile h2 {
    position: relative;
    display: inline-block;
    font-size: 2vw;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    padding: 1% 2%;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 4vh 0;
    animation: updownsoc 5s infinite ease-in-out;
}

.profile p {
    height: 30%;
    overflow-y: scroll;
    margin: 3% 0;
    color: #b8b8b8;
}

.profile p::-webkit-scrollbar {
    display: none;
}

#resume {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    padding: 1% 2%;
    border-radius: 5px;
    overflow: hidden;
}

#resume h3,
#resume i {
    font-size: 1vw;
}

.skills-section {
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    background-color: #151515;
}

.skill-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20vw;
    border-radius: 4rem;
    background-image: url(assets/footer-bg.png);
    background-position: top center;
    color: #ffffff;
}

.skill-container h1 {
    text-transform: capitalize;
    font-size: 2vw;
    animation: color-animation 5s infinite;
}

.skill-info {
    margin: 2vh 0;
    text-align: center;
}

.skill-visuals {
    display: flex;
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    gap: 5vw;
}

/* .skill-visuals::-webkit-scrollbar {
    display: none;
} */

.single-chart {
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    min-width: 8vw;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00
}

/* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.skill-representation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.skill-info {
    color: #b8b8b8;
}

.skill-representation h3 {
    text-transform: uppercase;
}

.project-container {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #151515;
    padding: 0 10vw;
}

.project-heading {
    padding: 0vh 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-heading h1 {
    text-transform: capitalize;
    animation: color-animation 5s infinite;
}

.project-heading p {
    margin-block: 3vw;
    color: #b8b8b8;
    text-align: center;
}

.projects {
    width: 350px;
    height: 250px;
    background: url(assets/about-image.png);
    background-size: cover;
    background-position: center center;
    border: 5px solid white;
    animation: border-color-animation 10s infinite ease-out;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.projects::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    opacity: 0.6;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.6s ease-in-out;
}

.projects::after {
    content: "Project \A frontend";
    white-space: pre;
    font-size: 200%;
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    bottom: 20%;
    z-index: 1;
    transition: 0.6s ease-in-out;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.projects:hover::after {
    height: 50%;
    opacity: 0.8;
}

.projects:hover::before {
    height: 100%;
}

.project-showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 3vw;
}